.login-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .MuiTextField-root {
    margin-bottom: 10px;
  }
}
